.button{
  width: 340px;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 5px;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 32px;
  gap: 10px;
}

.input{
  width: 170px;
  z-index: 10;
  display: block;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.24px;
}

.value1 {
  animation: 0.3s rotate forwards;
  @keyframes rotate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100px);
    }
  }
}

.switch{
  border-radius: 5px;
  color: #000;
  width: 170px;
  height: 28px;
  text-align: center;
  position: absolute;
  background: #FFFFFF;
  top: 2px;
  transition: 0.3s left;
}